<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"  integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/css/styles.css">
    <title>C$50 Final project: {% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">CS50 Final Project. By: Jose Alvarez</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Paseos</a>
              <a class="nav-link" href="#">Deuda</a> 
            </div>
          </div>
          <button class="btn btn-outline-danger" type="submit">Cerrar sesión</button>
        </div>
    </nav>
    <div class="half-section" id="left-half">
        <h1 class="custom-heading" >Ingrese aquí su gasto</h1>
        <form action='/agregar_gasto' method="post">
            <div class="col-auto">

                <label for="motivo" class="texto-formulario">Motivo:</label>
                <input type="text" class="form-control" id="concepto" name="concepto" required>
            
            
                <label for="ponedor" class="texto-formulario">Ponedor:</label>
                <input type="text" class="form-control" id="ponedor" name="ponedor" required>
            
            
                <label for="monto" class="texto-formulario">Monto:</label>
                <input type="number" class="form-control" id="monto" name="monto" required>
            
                <button type="submit" class="btn btn-success" id="agregar_gasto">Agregar Gasto</button>
            </div>
        </form>
    </div>

    <div class="half-section" id="right-half">
        <!-- Contenido de la mitad derecha -->
        <h1 class="custom-heading" >Administrador de Gastos Compartidos</h1>
        <main class="container-fluid py-5 text-center">
            {% block main %}{% endblock %}
        </main>
    </div>
    

    <!-- Aquí mostraremos la lista de gastos compartidos -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
